ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #8b0f0c;
}

a:hover {
  color: #8b0f0c;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #343a40;
  color: white;
  text-align: center;
  padding: 31px;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}